@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap");

:root {
  --gray: 49, 49, 49;
  --gray-tints: 78, 78, 78;
  --gray-shades: 97, 97, 97;

  --yellow: 255, 204, 1;
  --yellow-tints: 204, 163, 1;
  --yellow-shades: 255, 214, 52;

  --orange: 238, 107, 47;
  --orange-tints: 190, 86, 38;
  --orange-shades: 241, 137, 89;

  --green: 77, 173, 91;
  --green-tints: 14, 95, 41;
  --green-shades: 65, 146, 92;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-image: url("/bg-pokemon.webp");
  background-size: cover;
}
